[Unit]
Description=Chromium kiosk
PartOf=graphical-session.target
After=latentResemblance.service

[Service]
ExecStart={path_to_kiosk.sh_script}
Restart=on-abort
Type=forking

[Install]
WantedBy=xsession.target
